.set-size {
  width: 15rem;
  height: 15rem;
  margin: 0.5rem;
}

.set-size-content {
  border: 1px solid gray;
  height: 17rem;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
